.testimonial {
  &__photo {
    & img {
      @extend %img;
    }
  }

  &__content {
    padding: 1.5rem;
  }

  &__title {
    @include h3();
  }

  &__text {
    @include p1();
    margin: 0 0 1.5rem 0;
  }

  &__name {
    @include p2();
    font-weight: 500;
    text-align: center;
  }

  @media ($tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    &__content {
      text-align: center;
      background-color: transparent;
      padding: 0;
    }

    &__photo {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 2rem;
    }
  }
}
