%cnt {
  max-width: 130rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  box-sizing: content-box;
}

%img {
  object-fit: cover;
  object-position: center;
	width: 100%;
	height: 100%;
}

@mixin section ($pt: 0, $pb: 0, $mb: 8rem) {
	padding-top: $pt;
	padding-bottom: $pb;
	margin-bottom: $mb;
}

@mixin h1($fs: 7rem) {
	font-size: $fs;
	font-weight: 700;
	line-height: 1.2;
}

@mixin h2($fs: 3rem) {
	font-weight: 500;
	font-size: $fs;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 3rem;

	@media ($desktop) {
		font-size: 5rem;
	}
}

@mixin btn {
	display: block;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	text-decoration: none;
	color: $mainBlack;
	background-color: _;
	border: none;
	user-select: none;
	padding: 1.5rem;
}