// fonts
$mainFont: "Montserrat", sans-serif;

// colors
$mainBlack: #000000;
$mainWhite: #ffffff;
$gray: rgb(110, 110, 110);
$red: rgb(194, 0, 0);

// media-queries
$tablet: "min-width: 426px";
$desktop: "min-width: 769px";
$projector: "min-width: 1100px";
