// fonts
$mainFont: "Montserrat", sans-serif;

// colors
$mainBlack: #000000;
$mainWhite: #ffffff;
$paleWhite: rgba(187, 187, 187, 1);

// media-queries
$tablet: "min-width: 426px";
$desktop: "min-width: 769px";
$projector: "min-width: 1100px";
