.about {
  @include section();
  background: rgb(71, 107, 213);
  background: linear-gradient(
    180deg,
    rgba(71, 107, 213, 0.5) 0%,
    rgba(77, 75, 255, 0.5) 55%,
    rgba(116, 83, 249, 0.5018382352941176) 100%
  );

  &__title {
    @include h2();
  }

  &__body {
    @extend %cnt;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 4rem 0;
  }

  &__img {
    max-width: max-content;
    margin: 0 0 2rem 0;
    & img {
      @extend %img;
    }
  }

  &__description {
    & p {
      @include p1();
      text-align: center;
    }
  }

  &__features {
    @include p1();
    font-weight: 500;
    margin: 0 0 5rem 0;
  }

  &__features-list {
    margin-left: 1.5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__features-item {
    padding-block: 0.5rem;
    &:not(:last-child) {
      margin: 0 3rem 0 0;
    }
  }

  &__btn {
    @include btn();
  }

  @media ($desktop) {
    &__info {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 0 7rem 0;
    }
    &__img {
      flex: 2 1 50%;
      margin: 0 4rem 0 0;
    }
    &__description {
      flex: 0 2 50%;
      & p {
        max-width: 50rem;
        margin: 0 auto;
      }
    }
    &__features {
      margin: 0 0 10rem 0;
    }
  }
}
