.composition {
  @include section();
  background: rgb(203, 230, 226);
  background: linear-gradient(
    180deg,
    rgba(203, 230, 226, 0.5) 0%,
    rgba(98, 206, 209, 0.5) 55%,
    rgba(71, 200, 213, 0.5) 100%
  );

  &__title {
    @include h2();
  }

  &__body {
    @extend %cnt;
  }

  &__items {
    display: grid;
    grid-template-rows: 1fr minmax(20rem, 31rem) 1fr;
    gap: 6rem;
    margin-bottom: 7rem;
  }

  &__items-col {
    display: grid;
    justify-items: center;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    &:nth-child(2) {
      grid-template-columns: none;
    }
  }

  &__item {
    &#component1 {
      @include line($l: 65%, $rotate: -30deg);
    }
    &#component2 {
      @include line();
    }
    &#component3 {
      @include line($l: 45%, $rotate: 30deg);
    }
    &#component4 {
      @include line($t: -40%, $l: 65%, $rotate: 30deg);
    }
    &#component5 {
      @include line($t: -40%);
    }
    &#component6 {
      @include line($t: -40%, $l: 45%, $rotate: -30deg);
    }
  }

  &__btn {
    @include btn();
  }

  .item-component {
    & img {
      @extend %img;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      overflow: hidden;
    }

    &__info {
      @include p1();
      text-align: center;
      margin-top: 0.7rem;
    }
  }

  .item-product {
    & img {
      @extend %img;
      max-width: 20rem;
    }
  }

  @media ($tablet) {
    .item-component {
      & img {
        width: 10rem;
        height: 10rem;
      }
    }
  }

  @media ($desktop) {
    &__items {
      grid-template-rows: none;
      grid-template-columns: 1fr 40% 1fr;
    }

    &__items-col {
      grid-template-columns: none;
    }

    &__item {
      &#component1 {
        &::after {
          transform: rotate(130deg);
        }
      }
      &#component2 {
        &::after {
          top: 15%;
        }
      }
      &#component3 {
        &::after {
          top: 0;
          transform: rotate(-130deg);
        }
      }
      &#component4 {
        &::after {
          left: -50%;
          transform: rotate(-130deg);
        }
      }
      &#component5 {
        &::after {
          left: -50%;
          top: 15%;
        }
      }
      &#component6 {
        &::after {
          top: 0;
          left: -50%;
          transform: rotate(130deg);
        }
      }
    }

    .item-component {
      & img {
        width: 10rem;
        height: 10rem;
      }
    }
    .item-product {
      & img {
        max-width: none;
      }
    }
  }
  @media ($projector) {
    &__item {
      &#component4 {
        &::after {
          left: -80%;
        }
      }
      &#component5 {
        &::after {
          left: -80%;
        }
      }
      &#component6 {
        &::after {
          left: -80%;
        }
      }
    }
    &__items-col {
      row-gap: 3rem;
    }
    .item-component {
      & img {
        width: 15rem;
        height: 15rem;
      }
      &__info {
        font-size: 2.2rem;
      }
    }
  }
}
