.order {
  @include section();
  background: rgb(116, 83, 249);
  background: linear-gradient(
    180deg,
    rgba(116, 83, 249, 0.5) 0%,
    rgba(168, 105, 255, 0.5) 55%,
    rgba(230, 200, 255, 0.5018382352941176) 100%
  );

  &__title {
    @include h2();
    letter-spacing: 0.5rem;
  }

  &__timer {
    margin-bottom: 4rem;
  }

  & .timer {
    width: max-content;
    margin-inline: auto;
    & * {
      display: inline-block;
      font-size: 4rem;
      letter-spacing: 0.5rem;
      color: $red;
    }
    & .hours {
      display: none;
    }
    & .minutes {
    }
    & .seconds {
    }
    & .clearDiv {
      display: none;
    }
    & .timeout {
      display: none;
    }
  }

  &__body {
    @extend %cnt;
    display: flex;
    flex-direction: column;
  }

  &__preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 4rem 0;
  }

  &__preview-img {
    max-width: 30rem;
    width: 60%;
    margin-bottom: 4rem;
    & img {
      @extend %img;
    }
  }

  &__preview-price {
    &_old {
      font-size: 2.4rem;
    }

    &_new {
      font-size: 3rem;
      font-weight: 500;
      animation: scale 3.5s ease infinite;
    }
    @keyframes scale {
      0% {
        color: $mainBlack;
      }
      25% {
        color: $red;
        transform: scale(1.2);
      }
      50% {
        color: black;
        transform: scale(1);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  &__form {
    padding: 2rem 1rem;
  }

  &__input {
    position: relative;
    margin-bottom: 2rem;
    & input {
      @include input();
    }
    &:last-of-type {
      margin-bottom: 4rem;
    }
  }

  &__input-title {
    @include p2();
    margin-bottom: 0.5rem;
  }

  &__btn {
    @include btn();
  }

  @media ($tablet) {
    &__preview-img {
      max-width: max-content;
    }
    &__preview-price {
      &_old {
        font-size: 3.2rem;
      }
      &_new {
        font-size: 3.8rem;
      }
    }
  }

  @media ($desktop) {
    padding-bottom: 10rem;
    &__timer {
      margin-bottom: 6rem;
    }
    & .timer {
      & * {
        font-size: 7rem;
      }
    }
    &__body {
      flex-direction: row;
      justify-content: space-around;
    }
    &__preview {
      flex: 1 1 50%;
      margin: 0 4rem 0 0;
    }
    &__form {
      flex: 0 1 50%;
      padding: 4rem 2rem;
    }
    &__input {
      margin-bottom: 3rem;
      &:last-of-type {
        margin-bottom: 6rem;
      }
    }
  }

  @media ($projector) {
    &__preview-price {
      &_old {
        font-size: 3.8rem;
      }
      &_new {
        font-size: 4.4rem;
      }
    }
  }
}
